<section class="news-container">
  <mat-card *ngFor="let newsItem of ($listItems | async)"
            (click)="openUrl(newsItem.url)"
            class="news-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>{{newsItem.title}}</mat-card-title>
        <mat-card-subtitle>{{newsItem.by}}</mat-card-subtitle>
        <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
             alt="there should be a preview img">
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis ducimus earum et necessitatibus repellendus
      saepe. Architecto atque blanditiis debitis fuga, illum, laudantium neque nulla obcaecati soluta tempore vero
      voluptatem, voluptates?
    </mat-card-content>
  </mat-card>
</section>

<mat-paginator class="news-paginator"
               (page)="handlePageEvent($event)"
               [length]="length"
               [pageSize]="pageSize"
               [showFirstLastButtons]="true"
               [pageSizeOptions]="pageSizeOptions"
               [pageIndex]="pageIndex"
               aria-label="Select page">
</mat-paginator>
